# App
NODE_ENV="dev"
API_PORT="3333"
WEB_URL="http://localhost:3000"
DOMAIN_URL="localhost"
TOKEN_COOKIE_NAME="@my-token"
CPF_ADMIN="00000000000"
PASSWORD_ADMIN="my-secret-password"
EMAIL_ADMIN="my-email@example.com"

# Prisma ORM
DATABASE_URL="postgresql://username:password@host:port/database?sslmode=verify-full&channel_binding=require"

# E-mail Resend
RESEND_API_KEY="your-resend"

# Json Web Token
JWT_SECRET="your-jwt-secret"

# Supabase Upload
PUBLIC_SUPABASE_URL="https://your-supabase-url.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"

# Totvs Protheus
API_PROTHEUS_DATA_URL="route-to-data-api"